## Web scrapping de IMDB

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import re
import pandas as pd

In [2]:
# Download IMDB's Top 250 data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)

In [3]:
print(response)

<Response [200]>

In [4]:
html = response.content

In [14]:
# html

In [5]:
soup = bs(html,"lxml")

In [157]:
for m in range(251):
    
    title = [x.get_text(strip = True).split(".")[1].split("(")[0] for x in movies.select("td.titleColumn")]
    place = [int(x.get_text(strip = True).split(".")[0]) for x in movies.select("td.titleColumn")]
    year = [int(x.get_text(strip = True)[-5:-1]) for x in movies.select("td.titleColumn")]
    main_cast = [x["title"] for x in movies.select("td.titleColumn a")]
    rating = [float(x.get_text()) for x in movies.select("td.ratingColumn strong")]
    link = [x["href"] for x in movies.select("td.titleColumn a")]
    
    data = {"title": title,
            "year": year,
            "place": place,
            "main_cast": main_cast,
            "rating": rating,
            "link": link
            }

In [153]:
IMDb = pd.DataFrame(data)
web_imdb = "https://www.imdb.com"
IMDb["link"] = web_imdb + IMDb["link"]

In [154]:
IMDb

,title,year,place,main_cast,rating,link
0,Cadena perpetua,1994,1,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.2,https://www.imdb.com/title/tt0111161/
1,El padrino,1972,2,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.2,https://www.imdb.com/title/tt0068646/
2,El caballero oscuro,2008,3,"Christopher Nolan (dir.), Christian Bale, Heat...",9.0,https://www.imdb.com/title/tt0468569/
3,El padrino: Parte II,1974,4,"Francis Ford Coppola (dir.), Al Pacino, Robert...",9.0,https://www.imdb.com/title/tt0071562/
4,12 hombres sin piedad,1957,5,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.9,https://www.imdb.com/title/tt0050083/
...,...,...,...,...,...,...
245,Aladdín,1992,246,"Ron Clements (dir.), Scott Weinger, Robin Will...",8.0,https://www.imdb.com/title/tt0103639/
246,Criadas y señoras,2011,247,"Tate Taylor (dir.), Emma Stone, Viola Davis",8.0,https://www.imdb.com/title/tt1454029/
247,La bella y la bestia,1991,248,"Gary Trousdale (dir.), Paige O'Hara, Robby Benson",8.0,https://www.imdb.com/title/tt0101414/
248,Bailando con lobos,1990,249,"Kevin Costner (dir.), Kevin Costner, Mary McDo...",8.0,https://www.imdb.com/title/tt0099348/
249,Rififi,1955,250,"Jules Dassin (dir.), Jean Servais, Carl Möhner",8.0,https://www.imdb.com/title/tt0048021/

---
---
---

In [100]:
title = [x.get_text(strip = True).split(".")[1].split("(")[0] for x in movies.select("td.titleColumn")]
# title

In [95]:
place = [int(x.get_text(strip = True).split(".")[0]) for x in movies.select("td.titleColumn")]
# place

In [131]:
year = [int(x.get_text(strip = True)[-5:-1]) for x in movies.select("td.titleColumn")]
# year

In [126]:
"15.sdjbfjsbdfj(1884)"[-5:-1]

'1884'

In [97]:
"15.sdjbfjsbdfj(18844)".split(".")[1].split("(")[0]

'sdjbfjsbdfj'

In [114]:
"15.sdjbfjsbdfj(18844)".split(".")[1].split("(")[1]

'18844)'

In [71]:
movies.select("td.titleColumn")[0].get_text(strip = True)

'1.Cadena perpetua(1994)'

---
---
---

In [158]:
# movies.select("td.titleColumn a")

In [141]:
main_cast = [x["title"] for x in movies.select("td.titleColumn a")]
# main_cast

---
---

In [142]:
float(movies.select("td.ratingColumn strong")[0].get_text())

9.2

In [146]:
rating = [float(x.get_text()) for x in movies.select("td.ratingColumn strong")]
# rating

---
---

In [52]:
movies.select("td.titleColumn a")[0]["href"]

'/title/tt0111161/'

In [155]:
link = [x["href"] for x in movies.select("td.titleColumn a")]
# link

---
---

In [179]:
soup.select("tbody.lister-list td.titleColumn")[38].get_text()

'\n      39.\n      Sospechosos habituales\n(1995)\n'

In [182]:
soup.select("tbody.lister-list td.titleColumn")[38].get_text().split("\n")

['', '      39.', '      Sospechosos habituales', '(1995)', '']