# Ex - GroupBy

In [6]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [10]:
drinks = pd.read_csv("drinks.csv")

### Step 4. Which continent drinks more beer on average?

In [18]:
averages = drinks.groupby("continent")["beer_servings"].mean()

'EU'

### Step 5. For each continent print the statistics for wine consumption.

In [20]:
drinks.groupby("continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [22]:
drinks.groupby("continent").mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [23]:
drinks.groupby("continent").median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption per continent.

In [28]:
drinks.groupby("continent").aggregate(["mean", "min", "max"])

C:\Users\josel\AppData\Local\Temp\ipykernel_2952\222806454.py:1: FutureWarning: ['country'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  drinks.groupby("continent").aggregate(["mean", "min", "max"])

          beer_servings          spirit_servings          wine_servings      \
                   mean min  max            mean min  max          mean min
continent
AF            61.471698   0  376       16.339623   0  152     16.264151   0
AS            37.045455   0  247       60.840909   0  326      9.068182   0
EU           193.777778   0  361      132.555556   0  373    142.222222   0
OC            89.687500   0  306       58.437500   0  254     35.625000   0
SA           175.083333  93  333      114.750000  25  302     62.416667   1

               total_litres_of_pure_alcohol
           max                         mean  min   max
continent
AF         233                     3.007547  0.0   9.1
AS         123                     2.170455  0.0  11.5
EU         370                     8.617778  0.0  14.4
OC         212                     3.381250  0.0  10.4
SA         221                     6.308333  3.8   8.3

In [31]:
drinks.groupby("continent")["country"].count()

continent
AF    53
AS    44
EU    45
OC    16
SA    12
Name: country, dtype: int64

In [2]:
import pandas as pd
d = pd.Series(["a", "b", "c", "a"])

In [3]:
d.value_counts()

a    2
b    1
c    1
dtype: int64